<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="image">
        <h1>
            F-16
        </h1>
        <img src={{image}} >
        <label for="img">Price $3200</label>
        <label for="">The General Dynamics F-16 Fighting Falcon is an American single-engine supersonic multirole fighter aircraft originally developed by General Dynamics for the United States Air Force (USAF). Designed as an air superiority day fighter, it evolved into a successful all-weather multirole aircraft with over 4,600 built since 1976.[4] Although no longer purchased by the U.S. Air Force, improved versions are being built for export. In 1993, General Dynamics sold its aircraft manufacturing business to the Lockheed Corporation,[5] which became part of Lockheed Martin after a 1995 merger with Martin Marietta.[6]</label>
        <button>Add to Cart</button>
        <button>Buy Now</button>
    </div>
</body>
</html>