#image{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 5px white ;
    border-radius: 10px;
    width: 400px;
    height: max-content;
    justify-content: space-evenly;    
    background: linear-gradient(rgb(166, 192, 223),rgb(48, 124, 199));
    /* opacity: 0.9; */
    /* z-index: 2; */
    /* position: relative; */
}