<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .nav{
            background-image: url(../../assets/af_gif.webp);
            background-size: contain;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <div class="nav">
        <div class="heading">
            <h1>Indian Air Force</h1>
        </div>
        <div class="links">
        <a href="#">About</a>
        <a href="#">Login</a>
        <a href="#">Sign Up</a>
        <a href="#">Contact</a>
      </div>
      </div>
</body>
</html>