.student {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    border: solid 5px white;
    border-radius: 10px;
    width: 400px; /* Set a fixed width for the cards */
    height: max-content; /* Allow height to adjust */
    justify-content: space-evenly;    
    background: linear-gradient(rgb(166, 192, 223), rgb(48, 124, 199)); /* Gradient background */
    opacity: 0.9; /* Slight opacity for cards */
    padding: 10px; /* Optional padding inside cards */
    color: white; /* Text color */
}